.chatDivUser {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 5px;
    margin:3px;
    cursor: pointer;
}

.chatDivUser:hover {
    background-color: rgba(141, 195, 255, 0.51);
}

.chatDivUserSelected {
    background-color: rgb(141, 195, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 5px;
    margin:3px;
    cursor: pointer;
}

.chatDialogDiv {
    margin:3px;
    height:80%;
    overflow:auto;
}

.chatMessageSendDiv {
    border-top: 1px solid rgb(221, 221, 221);
    padding-top: 5px;
    height:18%;
    margin-right: 10px;
    margin-left: 10px;
}

.chatUserListDiv, .chatMessagesDiv {
    display: inline-block;
    *display: inline;
    vertical-align: top;
}
.chatUserListDiv {
    width: 24%;
    height: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    margin-left: 5px;
    overflow:auto;
}

.chatMessagesDiv {
    width: 72%;
    height: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    margin-left: 5px;
}

.myMessage,
.alienMessage {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 5px;
    margin-bottom:3px;
    cursor: pointer;
    width: fit-content;
    max-width: 70%;
}

.myMessage {
    float: right;
}

.alienMessage {
    float: left;
}
