.chatDivUser {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 5px;
    margin:3px;
    cursor: pointer;
    background-color: white;
}

.chatDivUser:hover {
    background-color: rgba(141, 195, 255, 0.51);
}

.chatDivUserSelected {
    background-color: rgb(141, 195, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 5px;
    margin:3px;
    cursor: pointer;
}

.chatDialogDiv {
    margin:3px;
    height:80%;
    max-height:71vh;
    overflow-y:auto;
    overflow-x:hidden;
}

.chatDialogDiv::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}
.chatDialogDiv::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.chatDialogDiv::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.08);
}

.chatMessageSendDiv {
    border-top: 1px solid rgb(221, 221, 221);
    padding-top: 5px;
    height:18%;
    margin-right: 10px;
    margin-left: 10px;
}

.chatUserListDiv, .chatMessagesDiv {
    display: inline-block;
    *display: inline;
    vertical-align: top;
}
.chatUserListDiv {
    width: 24%;
    height: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    margin-left: 5px;
    overflow:auto;
    background-color: rgb(240, 240, 240);
}

.chatMessagesDiv {
    width: 72%;
    height: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    margin-left: 5px;
    background-color: rgb(240, 240, 240);
}

.messageSendTimeDiv {
    color: rgba(0, 0, 0, 0.45);
    font-size: 9px;
    padding-top: 10px;
}

.myMessage,
.alienMessage {
    padding: 6px 7px 8px 9px;
    margin-bottom:5px;
    cursor: pointer;
    width: fit-content;
    max-width: 60%;
    font-size: 12px;
    font-family: sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    min-width: 200px;
}

.myMessage {
    border-radius: 10px 0px 10px 10px;
    float: right;
    background-color: #d4f0bf;
    position: relative;
    margin-right:15px;
}

.alienMessage {
    border-radius: 0px 10px 10px 10px;
    float: left;
    background-color: #ffffff;
    position: relative;
    margin-left:15px;
}

.alienMessage:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -15px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 15px solid;
    border-color: #ffffff transparent transparent transparent;
}

.myMessage:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -15px;
    top: 0px;
    bottom: auto;
    border: 15px solid;
    border-color: #d4f0bf transparent transparent transparent;
}
