.tdWeekDay {
    width: 80px;
    height: 60px;
    padding: 3px;
}

.divWeekDayDisabled,
.divWeekDay,
.divWeekDayToday,
.divWeekHeaderDay {
    text-align: -webkit-center;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.divWeekDayDisabled,
.divWeekDay,
.divWeekDayToday {
    padding-top: 13px;
    font-size: 18px;
}

.divWeekHeaderDay {
    font-weight: bold;
    background-color: rgb(192, 192, 192);
    padding-top: 10px;
    font-size: 25px;
    cursor: default;
}

.divWeekDay {
    background-color: white;
    cursor: pointer;
}

.divWeekDayToday {
    background-color: rgb(141, 195, 255);
    cursor: pointer;
}

.divWeekDay:hover,
.divWeekDayToday:hover {
    background-color: rgba(141, 195, 255, 0.51);
}

.divWeekDayDisabled {
    background-color: white;
    cursor: default;
    color: rgb(202, 202, 202);
}

.monthBack,
.monthForward {
    border: 1px solid rgb(221, 221, 221);
    background-color: white;
    border-radius: 5px;
}

.monthBack:hover,
.monthForward:hover {
    background-color: rgb(230, 230, 230);
}

.monthAndYearInfoDiv {
    width:100%;
    text-align:center;
    font-weight:bold;
    padding-bottom:5px;
    font-size:20px;
}