.rc-tree {
  margin: 0;
  padding: 5px;
}
.rc-tree li {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  outline: 0;
}
.rc-tree li .draggable {
  color: #333;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.rc-tree li.drag-over > .draggable {
  background-color: #316ac5;
  color: white;
  border: 1px #316ac5 solid;
  opacity: 0.8;
}
.rc-tree li.drag-over-gap-top > .draggable {
  border-top: 2px blue solid;
}
.rc-tree li.drag-over-gap-bottom > .draggable {
  border-bottom: 2px blue solid;
}
.rc-tree li.filter-node > .rc-tree-node-content-wrapper {
  color: #a60000!important;
  font-weight: bold!important;
}
.rc-tree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.rc-tree li .rc-tree-node-content-wrapper {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  vertical-align: top;
  width: 85%;
}
.rc-tree li span.rc-tree-switcher,
.rc-tree li span.rc-tree-checkbox,
.rc-tree li span.rc-tree-iconEle {
  line-height: 16px;
  margin-right: 2px;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.rc-tree li span.rc-tree-switcher.rc-tree-icon__customize,
.rc-tree li span.rc-tree-checkbox.rc-tree-icon__customize,
.rc-tree li span.rc-tree-iconEle.rc-tree-icon__customize {
  background-image: none;
}
.rc-tree li span.rc-tree-icon_loading {
  margin-right: 2px;
  vertical-align: top;
  background: url('data:image/gif;base64,R0lGODlhEAAQAKIGAMLY8YSx5HOm4Mjc88/g9Ofw+v///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAGACwAAAAAEAAQAAADMGi6RbUwGjKIXCAA016PgRBElAVlG/RdLOO0X9nK61W39qvqiwz5Ls/rRqrggsdkAgAh+QQFCgAGACwCAAAABwAFAAADD2hqELAmiFBIYY4MAutdCQAh+QQFCgAGACwGAAAABwAFAAADD1hU1kaDOKMYCGAGEeYFCQAh+QQFCgAGACwKAAIABQAHAAADEFhUZjSkKdZqBQG0IELDQAIAIfkEBQoABgAsCgAGAAUABwAAAxBoVlRKgyjmlAIBqCDCzUoCACH5BAUKAAYALAYACgAHAAUAAAMPaGpFtYYMAgJgLogA610JACH5BAUKAAYALAIACgAHAAUAAAMPCAHWFiI4o1ghZZJB5i0JACH5BAUKAAYALAAABgAFAAcAAAMQCAFmIaEp1motpDQySMNFAgA7') no-repeat scroll 0 0 transparent;
}
.rc-tree li span.rc-tree-switcher.rc-tree-switcher-noop {
  cursor: auto;
}
.rc-tree li span.rc-tree-switcher.rc-tree-switcher_open {
  background-image: url('./collapse.png');
  margin-top: 2px;
}
.rc-tree li span.rc-tree-switcher.rc-tree-switcher_close {
  background-image: url('./expand.png');
  margin-top: 2px;
}
.rc-tree li span.rc-tree-checkbox {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  background-position: 0 0;
}
.rc-tree li span.rc-tree-checkbox-checked {
  background-position: -14px 0;
}
.rc-tree li span.rc-tree-checkbox-indeterminate {
  background-position: -14px -28px;
}
.rc-tree li span.rc-tree-checkbox-disabled {
  background-position: 0 -56px;
}
.rc-tree li span.rc-tree-checkbox.rc-tree-checkbox-checked.rc-tree-checkbox-disabled {
  background-position: -14px -56px;
}
.rc-tree li span.rc-tree-checkbox.rc-tree-checkbox-indeterminate.rc-tree-checkbox-disabled {
  position: relative;
  background: #ccc;
  border-radius: 3px;
}
.rc-tree li span.rc-tree-checkbox.rc-tree-checkbox-indeterminate.rc-tree-checkbox-disabled::after {
  content: ' ';
  -webkit-transform: scale(1);
  transform: scale(1);
  position: absolute;
  left: 3px;
  top: 5px;
  width: 5px;
  height: 0;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
}
.rc-tree:not(.rc-tree-show-line) .rc-tree-switcher-noop {
  background: none;
}
.rc-tree.rc-tree-show-line li:not(:last-child) > ul {
  background: url('data:image/gif;base64,R0lGODlhCQACAIAAAMzMzP///yH5BAEAAAEALAAAAAAJAAIAAAIEjI9pUAA7') 0 0 repeat-y;
}
.rc-tree.rc-tree-show-line li:not(:last-child) > .rc-tree-switcher-noop {
  background-position: -56px -18px;
}
.rc-tree.rc-tree-show-line li:last-child > .rc-tree-switcher-noop {
  background-position: -56px -36px;
}
.rc-tree-child-tree {
  display: none;
}
.rc-tree-child-tree-open {
  display: block;
}
.rc-tree-treenode-disabled > span:not(.rc-tree-switcher),
.rc-tree-treenode-disabled > a,
.rc-tree-treenode-disabled > a span {
  color: #767676;
  cursor: not-allowed;
}
.rc-tree-node-selected {
  background-color: #ffe6b0;
  border: 1px #ffb951 solid;
  opacity: 0.8;
}
.rc-tree-icon__open {
  margin-right: 2px;
  background-position: -110px -16px;
  vertical-align: top;
}
.rc-tree-icon__close {
  margin-right: 2px;
  background-position: -110px 0;
  vertical-align: top;
}
.rc-tree-icon__docu {
  margin-right: 2px;
  background-position: -110px -32px;
  vertical-align: top;
}
.rc-tree-icon__customize {
  margin-right: 2px;
  vertical-align: top;
}

.tree_is_open {
  -webkit-transform: none;
  transform: none;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.tree_is_not_open {
  position: absolute;
  -webkit-transform: translateX(-115%);
  transform: translateX(-115%);
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.showHideButton {
  width:24px;
  height:24px;
  cursor:pointer;
  margin-top:5px;
  margin-right:5px;
  border-radius: 5px;
}

.showHideButton:hover {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(221, 221, 221);
}
